.box {
    border: 1px solid silver;
    width: 33.33%;
    max-width: 300px;
    margin: 10px;
}

.image-box {
    margin-top: 20px;
    display: flex;

    &-discount {
        max-height: 20px;
        background-color: rgb(109, 218, 21);
        color: white;
        padding: 2px 6px;
    }

    &-image {

        margin-right: 20px;

        &-image {
            height: 200px;
            width: auto;
        }
        
    }
}

.item {
    background-color: rgb(231, 231, 231);
    padding: 10px 0px 0px 10px;

    &-details {
        display: flex;
        justify-content: space-between;
        padding: 10px 0px 10px 0px;


        &-price {

            display: flex;

            &-display {
                padding-right: 10px;
                text-decoration: line-through red;
            }

            &-actual {
                font-weight: bold;
            }
    
           
        }

        &-add {
            border: 1px solid rgb(64, 156, 218);
            color: rgb(64, 156, 218);
            margin-right: 10px;
            padding: 0px 5px;
        }
        &-add:hover {
            cursor: pointer;
        }
       
    }

    &-name {
        color: rgb(138, 130, 130);
    }
}
